%p Thanks for using #{Settings.company_name}

%p Your images have been added to the queue for fetching. You should start to see them in your Dropbox folder.

=image_tag('finder.png')

%p Thanks, Boxtagram

=link_to('@boxtagramapp','https://twitter.com/boxtagramapp')